.rows{
  display: flex;
  margin-bottom: 5px;

  & .special{
    font-size: 10px;
    align-items: end;
  }
}

.rows li{
  display: flex;
  justify-content: center;
  flex-grow: 1;

  align-items: center;

  box-shadow: 0 0 3px -1px rgb(0 0 0 / 30%);
  border-bottom: 1px solid $dark-gray;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;

  cursor: pointer;
  height: 40px;
  background: $white;
  margin-right: 5px;
  transition: all 200ms ease-in-out;



  &:last-of-type{
    margin-right: 0;
  }

  &:hover{
    background-color: $black;
    color: white;
  }

  &.active{
    background-color: $black;
    color: white;
  }
}

.last-row{
  margin-bottom: 0;
}

.rows li{
  font-size: 15px;
}

.Space{
  width: 150px;
}

.arrow-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 150px;

  margin-left: 5px;

  & li{
    height: 17.5px;
    width: 30%;
  }
}

.caseUp{
  margin-bottom: 5px;
}

.arrow{
  display: flex;
  width: 100%;

  & li{
    height: 17.5px;
    width: 33%;
  }
}



.CapsLock{
  position: relative;
  font-size: 10px;

  &::after{
    content: '';
    top: 5px;
    left: 15px;
    position: absolute;
    width: 6px;
    height: 6px;
    background: $black;
    border-radius: 50%;
  }
}

.capsLock-active.CapsLock::after{
  background: rgba(0, 128, 0, 0.6);
}





